
* {
    box-sizing: border-box;
}
:root {
    /*color*/
    --gray-100: Gainsboro;
    --gray-200: Gray;
    --gray-300: DimGray;

    --blue-100: LightBlue;
    --blue-200: DeepSkyBlue;
    --blue-300: DodgerBlue;
    --blue-400: Blue;

    --green-100: LightGreen;
    --green-200: MediumSpringGreen;
    --green-300: SeaGreen;
    --green-400: Green;

    /*typography*/
    --fs-base: 16px;
}
body {
    margin: 0;
    background-color: var(--gray-200);
}
